@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-6">Task Tracker</h1>
    <p class="lead">Мини-менеджер задач (EF Core + PostgreSQL)</p>

    <a class="btn btn-primary" href="/Tasks">Открыть список задач</a>
</div>